TUNNEL_TOKEN=docker run cloudflare/cloudflared:latest tunnel --no-autoupdate run --token eyJhIjoiOGNhZGRlMWU5N2E0NWVlY2IwZGY5ODY5YzA4M2RjYmIiLCJ0IjoiYjdjNmI4YWEtYWVlZS00ZjRhLWIxZGUtYjBiOThiMzk2MDRmIiwicyI6Ik5XTmhaalpoTnpNdE9UWmpNaTAwWVRSbExUbGlNV0l0WXpobE16bGtOVGMwTkRGbCJ9
